<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#000000">

  <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/style.css">

  <link rel="license" hreflang="en" href="copyright.html" />
</head>

<body>
  <main>
    <!-- Navigation bar -->
    <input type="checkbox" id="burger" name="burger" value="showing"><label for="burger" id="burger_label"></label>
    <nav class='card' id="navbar">
      <a class="logo" href="/"><img src="img/logo/datalad_logo_solo.svg" alt="DataLad Logo"/></a>
      <ul class="menu-items">
        {% for title, link in MENUITEMS %}
        <li><a onclick="closeMenu()" href="{{ link }}" {% if page and page.url == link %} class='active' {% endif %}>{{ title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="menu-icons">
        <li><a class='icon-github' aria-label='DataLad on GitHub' href="https://github.com/datalad/datalad"></a></li>
        <li><a class="icon-book" aria-label='Learn with the Handbook' href="http://handbook.datalad.org/en/latest/"></a></li>
        <li><a class='icon-twitter' aria-label='DataLad on Twitter' href="https://twitter.com/datalad"></a></li>
        <li><a class='icon-mastodon' aria-label='DataLad on Mastodon' rel="me" href="https://fosstodon.org/@datalad"></a></li>
        <li><a class='icon-youtube-play' aria-label='DataLad on Youtube' href="https://www.youtube.com/datalad"></a></li>
      </ul>
    </nav>

    <!-- Main  content of a page -->
    <div id='content'>
    {% block content %}{% endblock %}
    </div>

    <footer>
      <div class='footer-main'>

        <div class="contributors-heading">
          <h3>Join the contributor community</h3>
          <span class="fading-line"></span>
        </div>
        
        <div class='footer-contributors' id='footer-app'>
          <div v-for="person in all_contributors" class="contributor" v-bind:style="{ backgroundImage: 'url(' + person['avatar_url'] + ')' }"><a :href="'https://github.com/' + person['login']" ></a></div>
        </div>

        <span class="fading-line-full"></span>
        <br>

        <div class='footer-head'>
          <img src="img/logo/datalad_logo_yw.svg" alt="DataLad logo">
          <ul>
            <li><a class='icon-download-cloud' aria-label='Install DataLad' href="https://handbook.datalad.org/en/latest/intro/installation.html#installation-and-configuration"></a></li>
            <li><a class="icon-book" aria-label='Learn with the Handbook' href="http://handbook.datalad.org/en/latest/"></a></li>
            <li><a class="icon-users" aria-label='Join the community' href="https://matrix.to/#/%23datalad:matrix.org"></a></li>
            <li><a class="icon-chat-empty" aria-label='Ask a question' href="https://matrix.to/#/!NaMjKIhMXhSicFdxAj:matrix.org"></a></li>
            <li><a class='icon-github' aria-label='Contribute via GitHub' href="https://github.com/datalad/datalad"></a></li>
            <li><a class='icon-mail' aria-label='Email us' href="mailto:info@datalad.org"></a></li>
            <li><a class='icon-twitter' aria-label='Follow us on Twitter' href="https://twitter.com/datalad"></a></li>
            <li><a class='icon-mastodon' aria-label='DataLad on Mastodon' rel="me" href="https://fosstodon.org/@datalad"></a></li>
            <li><a class='icon-youtube-play' aria-label='Visit our Youtube channel' href="https://www.youtube.com/channel/UCB8-Zf7D0DSzAsREoIt0Bvw"></a></li>
            <li><a class="netlify-icon" aria-label="Deploys by Netlify" href="https://www.netlify.com"><img src="img/netlify-dark.svg" alt="Deploys by Netlify"/></a></li>
          </ul>
        </div>
        
        <p>
          DataLad is a distributed and collaborative data management system
          supporting arbitrarily large datasets, on-demand content retrieval,
          dataset nesting, data version control, provenance capture, and
          metadata management. DataLad development is supported primarily by
          the US National Science Foundation and the German Federal Ministry of
          Education and Research.
        </p>

        <p class="license"><small>
          content licensed <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
          <span class='break'>—</span> ©2015–2024 {{ AUTHOR }} <span class='break'>—</span>
          unless <a rel="license" href='copyright.html'>indicated otherwise</a>
        </small></p>
      </div>
    </footer>
  </main>

  <!-- INCLUDE: VUEJS -->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
  <!-- RUN: VUE SCRIPT FOR FOOTER CONTRIBUTORS -->
  <script src="static/show_contributors.js"></script>
</body>
</html>
