<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
  <link rel="manifest" href="/manifest.json?v=1">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#444444">
  <link rel="shortcut icon" href="/favicon.ico?v=1">
  <meta name="apple-mobile-web-app-title" content="DataLad">
  <meta name="application-name" content="DataLad">
  <meta name="theme-color" content="#efefef">

  <link rel="stylesheet" type="text/css" href="/theme/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/theme/css/fontello.css" />

  <link rel="license" hreflang="en" href="/copyright.html" />
</head>

<body>

<nav id="nav">
  <a class="logo" href="/"><img src='/theme/img/logo/datalad_nav_wide.png' alt='DataLad Logo' /></a>
  <ul>
  {% for title, link, target in MENUITEMS %}
    {% if page and page.url == link %}{% set link_class = "class='active'" %}{% endif %}
    {% if target %}{% set link_target = "target='" ~ target ~ "' rel='noopener noreferrer'" %}{% endif %}
    <li><a href="{{ link }}" {{ link_class }} {{ link_target }}>{{ title }}</a></li>
  {% endfor %}
  </ul>
</nav>

<header>
  {% block banner %}{% endblock %}
</header>

<main>
  <div id='content'>
  {% block content %}{% endblock %}
  </div>
</main>

<footer>
  <ul class='social-links'>
    <li>
      <a class='icon-github' href='https://github.com/datalad' aria-label='DataLad @ GitHub'></a>
    </li>
    <li>
      <a class='icon-twitter' href='https://twitter.com/datalad' aria-label='DataLad @ Twitter'></a>
    </li>
  </ul>

  <p><small>
    content licensed <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
    — ©2015–2017 {{ AUTHOR }} —
    unless <a rel="license" href='/copyright.html'>indicated otherwise</a>
  </small></p>
</footer>
</body>
</html>
