{% extends "base.html" %}

{% block banner %}
<section id="banner">
  <p>Managing the <span class='mustard'>data lifecycle,</span>
     from beginning to end.</p>
</section>
{% endblock banner %}

{% block content %}
  <div id='cards'>
    <div class='card'>
      <h2>What is DataLad?</h2>
      <p>DataLad is an <strong>open source</strong> utility that brings the core
         concepts of version control systems to data — allowing
         <strong>versioning, branching, publishing, and merging</strong> with
         ease throughout the data lifecycle.</p>

      <p>Leveraging <a href="https://git-annex.branchable.com">git-annex</a> and
         taking <a href="https://git-scm.com">git</a>'s concept of decentralization
         a step further, DataLad's "data handles" enable the selective acquisition
         of files and, when configured, across mirrors and a variety of transport
         methods (HTTP, FTP, rsync, BitTorrent, and more).</p>

      <p>The DataLad project also operates a crawler that regularly indexes
         datasets from scientific data portals such as
         <a href="http://openfmri.org">OpenFMRI</a> and
         <a href="http://crcns.org">CRCNS</a>, making them trivial to acquire
         and work with using datalad.</p>
    </div>

    <div class='card'>
      <h2>Getting Started</h2>
      <p>DataLad covers all aspects of working with data: <strong>discovery, consumption,
         curation of original or derived data, and publication</strong>. The following pages
         illustrate how DataLad aids anyone working with data.</p>

      <h3>Looking for data?</h3>
      <p>DataLad has built-in support for metadata extraction and search. With only a few steps
      you can search through a large collection of readily available datasets, and immediately
      download them. <a href="/for/dataseekers.html">See how this works...</a></p>

      <h3>Improve the reproducibility of your science?</h3>
      <p>DataLad provides joint management of analysis code <emph>and</emph> data. This enables
      you to comprehensively track the exact state of any analysis inputs that produced your
      results &mdash; across the entire lifetime of a project, and across multiple datasets.
      <a href="/for/reproduciility.html">See how this works...</a></p>

      <h3>Need fine-grained data access?</h3>
      <p>DataLad offers easy access to individual files &mdash; great when you only need a few
      files from a large dataset for a web-demo or an analysis. Files in a dataset can be
      distributed across multiple download sources with tailored permissions to match your data
      privacy needs. <a href="/for/dataconsumers.html">See how this works...</a></p>

      <h3>Want to share your work?</h3>
      <p>DataLad supports sharing datasets with the public or just some colleagues on the platforms
      that you are using already &mdash; no need for a central service. You have complete freedom
      to share your work in multiple locations simultaneously (your own server, DropBox, GitHub, etc.)
      without loosing track.
      <a href="/for/datasharing.html">See how this works...</a></p>

    </div>
  </div>

{% endblock content %}
