{% extends "base.html" %}

{% block banner %}
<section id="banner">
  <p>Managing the <span class='mustard'>data lifecycle,</span>
     from beginning to end.</p>
</section>
{% endblock banner %}

{% block content %}
  <div id='cards'>
    <div class='card'>
      <h2>What is DataLad?</h2>
      <p>DataLad is an <strong>open source</strong> utility that brings the core
         concepts of version control systems to data — allowing
         <strong>versioning, branching, publishing, and merging</strong> with
         ease throughout the data lifecycle.</p>

      <p>Leveraging <a href="https://git-annex.branchable.com">git-annex</a> and
         taking <a href="https://git-scm.com">git</a>'s concept of decentralization
         a step further, DataLad's "data handles" enable the selective acquisition
         of files and, when configured, across mirrors and a variety of transport
         methods (HTTP, FTP, rsync, BitTorrent, and more).</p>

      <p>The DataLad project also operates a crawler that regularly indexes
         datasets from scientific data portals such as
         <a href="http://openfmri.org">OpenFMRI</a> and
         <a href="http://crcns.org">CRCNS</a>, making them trivial to acquire
         and work with using datalad.</p>
    </div>

    <div class='card'>
      <h2>Getting Started</h2>
      <p>DataLad covers all aspects of working with data: discovery, consumption,
         curation of original and derived data, and publication. The following pages
         illustrate how DataLad aids anyone working with data.</p>

      <h3>Looking for data?</h3>
      <p>filler</p>

      <h3>Need fine-grained data access?</h3>
      <p>filler</p>

      <h3>Benefit from joint data and code management?</h3>
      <p>filler</p>

      <h3>Want to share data?</h3>
      <p>filler</p>

    </div>
  </div>

{% endblock content %}
