body {
  color: #5d5d5d;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  margin: 0;
}

strong, b {
  color: #312a2c;
}

h1, h2, h3, h4, h5, h6 {
  color: #312a2c;
}

a {
  color: #d70a53;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

pre {
  border-radius: 0.5em;
  background-color: #f3f3f3;
  font-family: Inconsolata, Monaco, monospace;
  padding: 1em;
}

header {
  text-align: center;
}
header img {
  max-height: 20vh;
  vertical-align: bottom;
}

nav {
  font-weight: 500;
  margin: 2em 0;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  border: #fff 1px solid;
  border-radius: 0.3em;
  color: #5d5d5d;
  margin: 0 0.35em;
  padding: 0.8em 1.3em;
  text-decoration: none;
  transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}
nav a:hover {
  background: #f3f3f3;
  border-color: #eee;
}
nav a.active {
  background: #d70a53;
  border-color: #d70a53;
  color: #fff;
}

#banner {
  background: #CCE8F4 url(/theme/images/pic01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 8em 4em;
}
#banner p {
  background-color: rgba(34,30,31,0.98);
  border-radius: 0.2em;
  color: #d70a53;
  font-size: 3em;
  font-weight: 700;
  line-height: 0.9;
  margin: 0 auto;
  padding: 2em;
  width: 16em;
}

main {
  background: #f7f7f7 url('/theme/img/bg02.png');
  padding: 6em 0;
}
#content {
  margin: 0 auto;
  width: 1200px;
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  padding: 1.5em 0 1em 0;
  text-align: center;
}
footer p {
  color: #777;
  margin: 0;
}
footer svg {
  height: 6rem;
}

.footer-links {
  padding: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2rem;
}

article {
  background: #fff;
  border-bottom: solid 1px #ccc;
  line-height: 2.3em;
  padding: 2.75em 2em;
}

article header {
  text-align: unset;
  padding-top: 1em;
  margin: 0 0 2em 0;
}
article header h2 {
  margin: 0;
  padding-bottom: 0;
}
article header .date {
  font-size: 1em;
}
article h2 {
  font-size: 2.5em;
  letter-spacing: -0.015em;
  padding: 0.5em 0;
}
article p {
  margin: 1em 0;
}
