body {
  color: #5d5d5d;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  margin: 0;
}

strong, b {
  color: #312a2c;
}

h1, h2, h3, h4, h5, h6 {
  color: #312a2c;
}

a {
  color: #d70a53;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

pre {
  border-radius: 0.5em;
  background-color: #f3f3f3;
  font-family: Inconsolata, Monaco, monospace;
  padding: 1em;
}

header {
  text-align: center;
}
header img {
  max-height: 20vh;
  vertical-align: bottom;
}

nav {
  font-weight: 500;
  margin: 2em 0;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  border: #fff 1px solid;
  border-radius: 0.3em;
  color: #5d5d5d;
  margin: 0 0.35em;
  padding: 0.8em 1.3em;
  text-decoration: none;
  transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}
nav a:hover {
  background: #f3f3f3;
  border-color: #eee;
}
nav a.active {
  background: #d70a53;
  border-color: #d70a53;
  color: #fff;
}

#banner {
  background: #CCE8F4 url(/theme/images/pic01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 8em 4em;
}
#banner p {
  background-color: rgba(34,30,31,0.98);
  border-radius: 0.2em;
  color: #d70a53;
  font-size: 3em;
  font-weight: 700;
  line-height: 0.9;
  margin: 0 auto;
  padding: 2em;
  width: 16em;
}

main {
  background: #f7f7f7 url('images/bg02.png');
  padding: 6em 0;
}
#content {
  margin: 0 auto;
  width: 1200px;
}

footer {
  background-color: #252122;
  color: #fff;
  margin: 0;
}
footer section {
  margin: 0 auto;
  width: 1200px;
}
footer a {
  color: #c5c4c4;
}
footer h2 {
  color: #fff;
  margin: 0;
  padding: 3em;
}
footer li {
  border-top: solid 1px #353434;
  padding: 1em 0 1em 0;
}
footer li:first-child {
  border-top: 0;
  padding-top: 0;
}

#copyright {
  padding: 3em 0 2em 0;
  text-align: center;
}

#copyright ul.links {
  background: #2F2B2C;
  border-radius: 0.3em;
  display: inline-block;
  margin: 0;
  padding: 0.85em 2.25em;
}

article {
  background: #fff;
  border-bottom: solid 1px #ccc;
  line-height: 2.3em;
  padding: 2.75em 2em;
}

article header {
  text-align: unset;
  padding-top: 1em;
  margin: 0 0 2em 0;
}
article header h2 {
  margin: 0;
  padding-bottom: 0;
}
article header .date {
  font-size: 1em;
}
article h2 {
  font-size: 2.5em;
  letter-spacing: -0.015em;
  padding: 0.5em 0;
}
article p {
  margin: 1em 0;
}

/* ************************************************************************** */

/*
	Dopetrope 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Icon */

		.icon48
		{
			display: inline-block;
			width: 48px;
			height: 48px;
			background-image: url('images/icons48.png');
			text-indent: -9999px;
		}

			.icon48-1	{ background-position:	0px 0px;		}
			.icon48-2	{ background-position:	-48px 0px;		}
			.icon48-3	{ background-position:	-96px 0px;		}
			.icon48-4	{ background-position:	-144px 0px;		}
			.icon48-5	{ background-position:	-192px 0px;		}
			.icon48-6	{ background-position:	-240px 0px;		}
			.icon48-7	{ background-position:	-288px 0px;		}
			.icon48-8	{ background-position:	-336px 0px;		}
			.icon48-9	{ background-position:	-384px 0px;		}
			.icon48-10	{ background-position:	-432px 0px;		}

		.icon64
		{
			display: inline-block;
			width: 64px;
			height: 64px;
			background-image: url('images/icons64.png');
			text-indent: -9999px;
		}

			.icon64-1	{ background-position:	0px 0px;		}
			.icon64-2	{ background-position:	-64px 0px;		}
			.icon64-3	{ background-position:	-128px 0px;		}
			.icon64-4	{ background-position:	-192px 0px;		}
			.icon64-5	{ background-position:	-256px 0px;		}
			.icon64-6	{ background-position:	-320px 0px;		}
			.icon64-7	{ background-position:	-384px 0px;		}
			.icon64-8	{ background-position:	-448px 0px;		}
			.icon64-9	{ background-position:	-512px 0px;		}
			.icon64-10	{ background-position:	-576px 0px;		}

	/* List */


		ul.social
		{
			overflow: hidden;
		}

			ul.social li
			{
				display: block;
				border-radius: 5px;
				background: #888;
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-o-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				float: left;
			}

			ul.social li:first-child
			{
				margin-left: 0;
			}

			ul.social li.twitter				{ background: #2daae4; }
				ul.social li.twitter:hover		{ background: #3dbaf4; }
			ul.social li.googleplus				{ background: #da2713; }
				ul.social li.googleplus:hover	{ background: #ea3723; }

			ul.simple
			{
				list-style-type: square;
			}



