/* This file is (generally) organized according to SMACSS */

/*
 *  Base
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
       url('/theme/fonts/source-sans-pro-v10-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/source-sans-pro-v10-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('/theme/fonts/source-sans-pro-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/source-sans-pro-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('/theme/fonts/source-sans-pro-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/source-sans-pro-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


a {
  color: #ffa200;
  font-weight: 500;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}


body {
  color: #5d5d5d;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  margin: 0;
}

strong {
  color: #312a2c;
}

h1, h2, h3, h4, h5, h6 {
  color: #312a2c;
}

/*
 *  Layout
 */
#content {
  margin: 0 auto;
  width: 1200px;
}

header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

/*
 *  Modules
 */
main {
  background: #f7f7f7 url('/theme/img/bg02.png');
  padding: 6em 0;
}

#banner {
  background: #000 url(/theme/img/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12em 6em;
}
#banner p {
  color: #fff;
  font-size: 3.3em;
  font-weight: 700;
  line-height: 0.95;
  padding: 0;
  text-shadow: 2px 2px 5px #221E1F;
}
#banner .mustard {
  color: #ffa200;
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  padding: 1.5em 0 0 0;
  text-align: center;
}
footer ul {
  padding: 0;
}
footer li {
  display: inline;
  padding: 0 2rem;
}
footer svg {
  height: 6rem;
  transition: transform 0.2s linear;
}
footer svg:hover {
  transform: translateY(-0.2em);
}
footer p {
  border-top: 1px solid #ddd;
  color: #777;
  margin: 0;
  padding: 1em;
}

nav {
  background: #eee;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}
nav .logo {
  line-height: 0;
  margin-right: 1.3em;
  padding: 5px 0;
}
nav ul {
  margin: 13px 0;
  padding: 0;
  text-align: right;
}
nav li {
  display: inline-block;
}
nav li a {
  border-bottom: 3px solid transparent;
  border-top:    3px solid transparent;
  color: #555;
  font-weight: 700;
  margin: 0.8em 1.35em;
  padding: 0 0.3em;
  text-decoration: none;
  transition: 0.35s;
}
nav li a:hover {
  border-bottom: 3px solid #ffa200;
}

/*
 *  State
 */
nav li a.active {
  animation: borderFadeIn 0.35s;
  border-bottom: 3px solid #ffa200;
  border-top:    3px solid #ffa200;
}
@keyframes borderFadeIn {
  from { border-top: 3px solid rgba(255,162,0,0.0); }
  to   { border-top: 3px solid rgba(255,162,0,1.0); }
}

/*
 *  Page Specific
 */




header img {
  max-height: 20vh;
  vertical-align: bottom;
}

pre {
  border-radius: 0.5em;
  background-color: #f3f3f3;
  font-family: Inconsolata, Monaco, monospace;
  padding: 1em;
}

article {
  background: #fff;
  border-bottom: solid 1px #ccc;
  line-height: 2.3em;
  padding: 2.75em 2em;
}
article header {
  text-align: unset;
  padding-top: 1em;
  margin: 0 0 2em 0;
}
article header h2 {
  margin: 0;
  padding-bottom: 0;
}
article header .date {
  font-size: 1em;
}
article h2 {
  font-size: 2.5em;
  letter-spacing: -0.015em;
  padding: 0.5em 0;
}
article p {
  margin: 1em 0;
}
