*.aux
*.log
carus_tuned
datalad-openfmri-demo_tuned
carus.pdf
datalad-openfmri-demo.pdf
carus_tuned/git-scm.pdf
carus_tuned/misc-providers.pdf
carus_tuned/git-annex.pdf
datalad-openfmri-demo_tuned/3-user-install.pdf
datalad-openfmri-demo_tuned/6-all.pdf
datalad-openfmri-demo_tuned/1-datahandle.pdf
datalad-openfmri-demo_tuned/0-openfmri.pdf
datalad-openfmri-demo_tuned/0_5-distribution.pdf
datalad-openfmri-demo_tuned/4-user-add.pdf
datalad-openfmri-demo_tuned/5-user-publish.pdf
datalad-openfmri-demo_tuned/2-datahandles.pdf
datalad-openfmri-demo_sw.png
timeline.pdf
timeline.png
favicon.png
favicon_sw.png
timeline2.png
logo1.pdf
borrowed/git-annex-logo.pdf
carus_tuned/datalad-openfmri-demo.pdf
