<html>
<head>
  <title>DataLad</title>
  <meta name="save_as" content="index.html" />
  <meta name="url" content="index.html" />
</head>
<body>

<!-- SECTION: WHAT IS DATALAD -->
<div class="overview-vid">
  <h1>What is DataLad?</h1>
  <br>
  <iframe
    src="https://www.youtube-nocookie.com/embed/IN0vowZ67vs"
    title="DataLad">
  </iframe>
  <div class="overview-buttons">
    <a class="button" href="https://mybinder.org/v2/gh/datalad-handbook/datalad-tutorial-binder/HEAD"><span class="icon-laptop"></span>&nbsp;&nbsp;Try it out</a>
    <a class="button" href="https://handbook.datalad.org/en/latest/intro/installation.html#installation-and-configuration"><span class="icon-cog"></span>&nbsp;&nbsp;Install DataLad</a>
    <a class="button" href="http://handbook.datalad.org/en/latest/"><span class="icon-book"></span>&nbsp;&nbsp;Learn More</a>
    <a class="button" href="https://matrix.to/#/#datalad:matrix.org"><span class="icon-users"></span>&nbsp;&nbsp;Join the Community</a>
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlyellow"></div>

<!-- SECTION: KEEP TRACK -->
<div class="info-card reverse">  
  <div class="card-text">
    <h1>Keep track</h1>
    <p>
      Building on top of <a href="https://git-scm.com/">Git</a>
      and <a href="https://git-annex.branchable.com/">git-annex</a>,
      DataLad allows you to version control arbitrarily large files in datasets,
      without the need for custom data structures, central infrastructure, or third party services.
      <ul class="main-list">
        <li><span class="icon-ok"></span>&nbsp;&nbsp;Track changes to your data</li>
        <li><span class="icon-ok"></span>&nbsp;&nbsp;Revert to previous versions</li>
        <li><span class="icon-ok"></span>&nbsp;&nbsp;Capture full provenance records</li>
        <li><span class="icon-ok"></span>&nbsp;&nbsp;Ensure complete reproducibility</li>
      </ul>
    </p>
  </div>
  <div class="card-img">
    <img src="img/version_control_stray_branch.svg" alt="DataLad version control">
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlgrey"></div>

<!-- SECTION: CREATE STRUCTURE -->
<div class="info-card">  
  <div class="card-img">
    <img src="img/nested_datasets_laptop.svg" alt="DataLad nested datasets">
  </div>
  <div class="card-text">
    <h1>Create structure</h1>
    <p>
      A <em>DataLad dataset</em> is a directory with files, managed by DataLad.
      You can link other datasets, known as subdatasets, and perform commands recursively across an arbitrarily deep hierarchy of datasets.
      This helps you to create structure while maintaining advanced provenance capture abilities, versioning, and actionable file retrieval.
    </p>
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlyellow"></div>

<!-- SECTION: USE DATALAD -->
<div id="console" class="info-card reverse">  
  <div class="card-text use-datalad">
    <h1>Use DataLad</h1>
    <p>
      DataLad is a free and open source command line tool with a Python API and is compatible with
      all major operating systems. Use DataLad to:
      <ul class="main-list">
        <li><span class="icon-code"></span>&nbsp;&nbsp;<code>create</code> new datasets locally</li>
        <li><span class="icon-code"></span>&nbsp;&nbsp;<code>clone</code> other datasets</li>
        <li><span class="icon-code"></span>&nbsp;&nbsp;<code>get</code> content on-demand</li>
        <li><span class="icon-code"></span>&nbsp;&nbsp;<code>save</code> changes to datasets</li>
        <li><span class="icon-code"></span>&nbsp;&nbsp;<code>drop</code> content as needed</li>
        <li><span class="icon-code"></span>&nbsp;&nbsp;<code>push</code> changes to a remote location</li>
        <li>... and much more!</li>
      </ul>
    </p>
    <a class="button" href="https://mybinder.org/v2/gh/datalad-handbook/datalad-tutorial-binder/HEAD"><span class="icon-laptop"></span>&nbsp;&nbsp;Try DataLad in your browser</a>
  </div>
  <div class="card-img use-datalad">
    <img src="img/console.svg" alt="">
    <div class="typewriter-text">
      <p style="--n:26; --d:0">datalad create <em>my_dataset</em></p>
      <p style="--n:29; --d:1">datalad save <em>-m "hello world"</em></p>
      <p style="--n:26; --d:2">datalad push <em>--to location</em></p>
      <p style="--n:1; --d:3"></p><br>
      <p style="--n:22; --d:3">datalad clone <em>location</em></p>
      <p style="--n:25; --d:4">datalad get <em>specific_file</em></p>
      <p style="--n:26; --d:5">datalad drop <em>specific_file</em></p>
      
    </div>
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlgrey"></div>

<!-- SECTION: COLLABORATE -->
<div class="info-card"> 
  <div class="card-img larger">
    <img src="img/collaborate.svg" alt="DataLad collaboration">
  </div> 
  <div class="card-text">
    <h1>Collaborate</h1>
    <p>
      DataLad lets you consume datasets provided by others, and collaborate with them.
      You can install existing datasets and update them from their sources,
      or create sibling datasets that you can publish updates to and pull updates
      from. The collaborative power of <a href="https://git-scm.com/">Git</a>, for your data.
    </p>
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlyellow"></div>

<!-- SECTION: DATALAD IN THE WILD -->
<span id="integrate"></span>
<div class="info-card reverse">  
  <div class="card-text">
    <h1>DataLad in the wild</h1>
    <p>
      DataLad is integrated with a variety of hosting services and data management platforms,
      and extended and used by a diverse community.
      Export datasets to third party services such as GitHub or Figshare with built-in commands.
      Extend DataLad to be compatible with your preferred data supplier or workflow.
      Or use a multitude of other DataLad-compatible services such as Dropbox or Amazon S3.
      Search through all integrations, extensions, and use cases to find the right fit for your data!
    </p>
  </div>
  <div class="card-img larger">
    <img src="img/thirdparty.svg" alt="DataLad integrations and extensions">
  </div>
</div>

<div id="app" class="integrations">
  <div class="filter-options">
    <div class="text-input-options">
      <input type="text" id="fname" name="fname" placeholder="Filter by name" v-model="search_text" ref="text_search_input">
      <input type="text" id="ftag" name="ftag" placeholder="Filter by tag" v-model="tag_text" ref="tag_search_input" @input="inputTagText()" v-on:keyup.enter="clearSearchTagText()">
    </div>
    <div class="tag-filter-options">
      <input type="radio" name="radio_group" v-model="radio_group_value" @change="selectRadioButton()" v-bind:value="'all'" id="all"><label for="all">All</label>
      <input type="radio" name="radio_group" v-model="radio_group_value" @change="selectRadioButton()" v-bind:value="'integration'" id="integrations"><label for="integrations">Integrations</label>
      <input type="radio" name="radio_group" v-model="radio_group_value" @change="selectRadioButton()" v-bind:value="'extension'" id="extensions"><label for="extensions">Extensions</label>
      <input type="radio" name="radio_group" v-model="radio_group_value" @change="selectRadioButton()" v-bind:value="'academic'" id="academic"><label for="academic">Academic</label>
      <span class="tag-anchor">More tags&nbsp;<span class="icon-down-dir"></span>
        <span class="tag-tooltip" v-bind:class="{ visible: popoverShow }" ref="tag_tooltip">
          <span v-if="tag_options_filtered.length == 0"><em>No tags found</em></span>
          <span v-else v-for="tag in tag_options_filtered"><span class="tag-button"><a @click="addSearchTag(tag)">{{tag}}</a></span>&nbsp;</span>
        </span>
      </span>
    </div>
  </div>
  <div class="selected-tags">
    <span v-for="tag in search_tags"><span class="tag-button selected"><a @click="removeSearchTag(tag)">{{tag}} <span class="icon-cancel-circled inner-icon"></span></a></span>&nbsp;</span>
  </div>
  <div v-for="itm in tagFilteredItems" class="item">
    <div v-if="itm.logo" class="item-logo">
      <img :src="'img/logo/' + itm.logo" alt="">
    </div>
    <div v-else class="item-logo">
      <img src="img/logo/noname.svg" alt="">
    </div>
    <div class="item-info">
      <h3>{{itm.name}}</h3>
      <p class="blurb">{{itm.description}}</p>
    </div>
    <ul class='social-links'>
      <li v-if="itm.website"><a class='icon-home' aria-label='Website' :href="itm.website"></a></li>
      <li v-if="itm.github"><a class='icon-github' aria-label='GitHub' :href="itm.github"></a></li>
      <li v-if="itm.docs"><a class='icon-doc-text' aria-label='Documentation' :href="itm.docs"></a></li>
      <li v-if="itm.info"><a class='icon-link-ext' aria-label='More info' :href="itm.info"></a></li>
    </ul>
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlyellow"></div>

<!-- SECTION: LEARN MORE -->
<span id="resources"></span>
<div class="info-card">  
  <div class="card-img">
    <img src="img/learnmore.svg" alt="DataLad learning">
  </div>
  <div class="card-text">
    <h1>Learn More</h1>
    <p>
      DataLad is not solely a data management system, but also an open source community of users,
      developers, and researchers all contributing to its growth. To support this community,
      DataLad maintains several important resources:
    </p>
  </div>
</div>
<div class="learnmore">
  <div class="resource-item">
    <div class="resource-icon">
      <a class="icon-cog" href="https://handbook.datalad.org/en/latest/intro/installation.html#installation-and-configuration"></a>
    </div>
    <div class="resource-info">
      <h3><a href="https://handbook.datalad.org/en/latest/intro/installation.html#installation-and-configuration">Install<br>DataLad</a></h3>
      <p class="resource-blurb">Install DataLad and its dependencies on Linux, MacOS, or Windows</p>
    </div>
  </div>
  <div class="resource-item">
    <div class="resource-icon">
      <a class="icon-book" href="http://handbook.datalad.org/en/latest/"></a>
    </div>
    <div class="resource-info">
      <h3><a href="http://handbook.datalad.org/en/latest/">DataLad<br>Handbook</a></h3>
      <p class="resource-blurb">Become an expert DataLad user with this rich educational resource</p>
    </div>
  </div>
  <div class="resource-item">
    <div class="resource-icon">
      <a class="icon-users" href="https://matrix.to/#/#datalad:matrix.org"></a>
    </div>
    <div class="resource-info">
      <h3><a href="https://matrix.to/#/#datalad:matrix.org">Community<br>Chat</a></h3>
      <p class="resource-blurb">Join the community on Matrix, say hi, and ask questions</p>
    </div>
  </div>
  <div class="resource-item">
    <div class="resource-icon">
      <a class="icon-chat-empty" href="https://neurostars.org/search?q=datalad%20category%3A1"></a>
    </div>
    <div class="resource-info">
      <h3><a href="https://neurostars.org/search?q=datalad%20category%3A1">Technical<br>Forum</a></h3>
      <p class="resource-blurb">Get help from DataLad experts and users to solve your challenges</p>
    </div>
  </div>
  <div class="resource-item">
    <div class="resource-icon">
      <a class="icon-github" href="https://github.com/datalad/datalad"></a>
    </div>
    <div class="resource-info">
      <h3><a href="https://github.com/datalad/datalad">DataLad on<br>GitHub</a></h3>
      <p class="resource-blurb">Contribute via GitHub by creating issues or sending a pull request</p>
    </div>
  </div>
  <div class="resource-item">
    <div class="resource-icon">
      <a class="icon-file-code" href="http://docs.datalad.org/en/stable/"></a>
    </div>
    <div class="resource-info">
      <h3><a href="http://docs.datalad.org/en/stable/">Developer<br>Docs</a></h3>
      <p class="resource-blurb">Dive into the DataLad API with the developer documentation</p>
    </div>
  </div>
  <div class="resource-item">
    <div class="resource-icon">
      <a class="icon-laptop" href="https://github.com/datalad/tutorials"></a>
    </div>
    <div class="resource-info">
      <h3><a href="https://github.com/datalad/tutorials">DataLad<br>Tutorials</a></h3>
      <p class="resource-blurb">Hands-on tutorials and videos to help you on your DataLad journey</p>
    </div>
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlgrey"></div>

<!-- SECTION: SUPPORTING DATALAD -->
<div class="info-card reverse">  
  <div class="card-text">
    <h1>Supporting DataLad</h1>
    <p>
      DataLad development is funded as a US-German project on collaborative research,
      with primary funding from the US National Science Foundation (NSF 1912266, NSF 1429999) and 
      the German Federal Ministry of Education and Research (BMBF 01GQ1905, BMBF 01GQ1411).
      
      Additional support has been provided by the US National Institute of Biomedical Imaging and Bioengineering (NIH 1P41EB019936-01A1) via ReproNim,
      the European Union’s Horizon 2020 research and innovation programme under (945539, 826421),
      and the German federal state of Saxony-Anhalt and the European Regional Development Fund.
    </p>
  </div>
  <div class="card-img larger">
    <img src="img/funding.svg" alt="DataLad funding">
  </div>
</div>

<!-- SPACER IMAGE -->
<div class="spacer-dlyellow"></div>

<!-- SECTION: SUPPORTING DATALAD -->
<span id="cite"></span>
<div class="info-card">  
  <div class="card-img larger">
    <img src="img/cite.svg" alt="DataLad citation">
  </div>
  <div class="card-text">
    <h1>Citing DataLad</h1>
    <p>
      Please cite the following article when referring to DataLad in publications:

      <blockquote cite="https://doi.org/10.21105/joss.03262" id="citation_text">
        <em>Yaroslav O. Halchenko, Kyle Meyer, Benjamin Poldrack, Debanjum Singh Solanky, Adina S. Wagner, Jason Gors, Dave MacFarlane,
          Dorian Pustina, Vanessa Sochat, Satrajit S. Ghosh, Christian Mönch, Christopher J. Markiewicz, Laura Waite, Ilya Shlyakhter,
          Alejandro de la Vega, Soichi Hayashi, Christian Olaf Häusler, Jean-Baptiste Poline, Tobias Kadelka, Kusti Skytén,
          Dorota Jarecka, David Kennedy, Ted Strauss, Matt Cieslak, Peter Vavra, Horea-Ioan Ioanas, Robin Schneider, Mika Pflüger,
          James V. Haxby, Simon B. Eickhoff, and Michael Hanke, (2021).
          <strong>DataLad: distributed system for joint management of code, data, and their relationship.</strong> Journal of Open Source Software, 6(63), 3262, <a href="https://doi.org/10.21105/joss.03262">https://doi.org/10.21105/joss.03262</a></em>
      </blockquote>
      <a class="button-cite" onclick="copyCitation()"><span class="icon-docs"></span>&nbsp;&nbsp;Copy</a>
      <a class="button-cite" href="static/datalad-citation.bib" download="datalad-citation.bib"><span class="icon-quote-left"></span>&nbsp;&nbsp;BibTex</a>
      <a class="button-cite" href="static/datalad-citation.ris" download="datalad-citation.ris"><span class="icon-quote-left"></span>&nbsp;&nbsp;RIS</a>
      
    </p>
  </div>
</div>
<br><br>

<!-- INCLUDE: VUEJS -->
<script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
<!-- RUN: VUE SCRIPT FOR FILTERING ITEMS -->
<script src="static/filter_items.js"></script>
<!-- RUN: OTHER JS SCRIPTS -->
<script src="static/scripts.js"></script>

</body>
</html>