<footer>
  <div id="footer_content">
    <div>
      <h2>From the Makers of</h2>
      <ul>
      {% for name, link in LINKS %}
        <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div>
      <h2>Social Love</h2>
      <ul class="social">
        <li class="twitter"><a href="http://twitter.com/{{ TWITTER_USER }}" class="icon48 icon48-2">Twitter</a></li>
        <li class="googleplus"><a href="https://plus.google.com/{{ GOOGLEPLUS_USER }}" class="icon48 icon48-6">Google+</a></li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <small>
      content licensed <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
      <span class='break'>—</span> ©2015–2017 {{ AUTHOR }} <span class='break'>—</span>
      unless <a rel="license" href='/copyright.html'>indicated otherwise</a>
    </small>
  </div>
</footer>
